os:
- linux
language: c
cache: apt

before_install:
    - sudo apt-get update -qq
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"

install:
    - sudo apt-get remove oracle-java7-installer oracle-java8-installer
    - sudo apt-get install -y git autoconf
    - sudo apt-get install -y python2.7-minimal libacl1-dev:i386 libasound2-dev:i386 libcapi20-dev:i386 libcups2-dev:i386 libdbus-1-dev:i386 libesd0-dev:i386 libfontconfig-dev:i386 libfreetype6-dev:i386 libgl1-mesa-dev:i386 libglu1-mesa-dev:i386 libgnutls-dev:i386 libgsm1-dev:i386 libice-dev:i386 libjpeg-dev:i386 liblcms2-dev libldap2-dev:i386 libmpg123-dev:i386 libncurses5-dev:i386 libopenal-dev:i386 libpng12-dev:i386 libpulse-dev:i386 libssl-dev:i386 libtiff4-dev:i386 libtxc-dxtn-s2tc-dev:i386 libv4l-dev:i386 libx11-dev:i386 libxcomposite-dev:i386 libxcursor-dev:i386 libxext-dev:i386 libxi-dev:i386 libxinerama-dev:i386 libxml2-dev:i386 libxrandr-dev:i386 libxrender-dev:i386 libxslt1-dev:i386 libxt-dev:i386 libxxf86vm-dev:i386 linux-libc-dev:i386 unixodbc-dev:i386 x11proto-xinerama-dev:i386 libgl1-mesa-glx:i386 libxfixes-dev:i386 libglapi-mesa:i386 libgl1-mesa-dri:i386 libgd2-xpm:i386 prelink
    - sudo apt-get install -y gcc-multilib g++-multilib
    - sudo apt-get install -y libc6:i386
    - rm -rf .git
    - git init
    - git remote add origin git://repos.fds-team.de/wine.git
    - git fetch --depth=2
    - git checkout master
    - make -C patches DESTDIR="$(pwd)" install
    - sed -i 's/exec //' tools/runtest
    - echo "exit 0" >> tools/runtest

before_script:
    - ./configure --with-xattr
    - make -j 2

script:
    - make test
