os:
- linux

cache: apt

before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -y git

    - sudo apt-get install -y gcc-multilib g++-multilib
    - sudo apt-get install -y libc6:i386

language: c
script:
    - git clone --depth=2 git://repos.fds-team.de/wine.git wine-git
    - cd wine-git
    - ./configure
    - make
    - make test
