os:
- linux

cache: apt

before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -y devscripts
    - sudo apt-get install -y equivs
    - sudo apt-get install -y git

    - sudo apt-get install -y libc6:i386
    - sudo apt-get install -y gcc-multilib g++-multilib
    - sudo apt-get install -y libfreetype6-dev:i386
    - sudo apt-get install -y liblcms2-dev:i386 libldap2-dev:i386 libmpg123-dev:i386
    - sudo apt-get install -y libopenal-dev:i386 libv4l-dev:i386 libx11-dev:i386
    - sudo apt-get install -y libxml2-dev:i386 zlib1g-dev:i386
    - sudo apt-get install -y libcapi20-dev:i386 libcups2:i386 libdbus-1-3:i386
    - sudo apt-get install -y libfontconfig:i386 libfreetype6:i386
    - sudo apt-get install -y libgnutls26:i386 libncurses5:i386
    - sudo apt-get install -y libosmesa6:i386 libxcomposite1:i386
    - sudo apt-get install -y libxcursor1:i386 libxi6:i386 libxrandr2:i386
    - sudo apt-get install -y libxslt1.1:i386
    - sudo apt-get install -y libasound2-dev:i386 libjpeg8-dev:i386

language: c
script:
    - git clone git://repos.fds-team.de/wine.git wine-git
    - cd wine-git
    - ./configure
    - make
    - make test
